APP_HOST_PORT=6006
APP_ENV=development
LOG_LEVEL=INFO
WEB_CONCURRENCY=3

S3_TILES_DATA_ENDPOINT=host.docker.internal:9000
S3_TILES_DATA_BUCKET_NAME=tiles-data
S3_TILES_DATA_SECURE=false
S3_TILES_DATA_ACCESS_KEY=data_service
S3_TILES_DATA_SECRET_KEY=REPLACE_WITH_SECURE_PASSWORD
SYNC_INTERVAL_SECONDS=60

REDIS_URL=redis://redis:6379/0
KEEP_COUNT=26
RADAR_SYNC_INTERVAL_SECONDS=30
