APP_HOST_PORT=6006
APP_ENV=development
LOG_LEVEL=INFO

MINIO_ENDPOINT=host.docker.internal:9000
MINIO_ACCESS_KEY=minioadmin1
MINIO_SECRET_KEY=minioadmin1
MINIO_BUCKET=tiles-data
MINIO_SECURE=false
SYNC_INTERVAL_SECONDS=60
